<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>symbol_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,180}</string>
                <key>spriteSourceSize</key>
                <string>{136,180}</string>
                <key>textureRect</key>
                <string>{{0,0},{136,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_00Blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,210}</string>
                <key>spriteSourceSize</key>
                <string>{136,210}</string>
                <key>textureRect</key>
                <string>{{0,720},{136,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{136,0},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_01Blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,210}</string>
                <key>spriteSourceSize</key>
                <string>{180,210}</string>
                <key>textureRect</key>
                <string>{{136,720},{180,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,180}</string>
                <key>spriteSourceSize</key>
                <string>{136,180}</string>
                <key>textureRect</key>
                <string>{{316,0},{136,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_02Blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,210}</string>
                <key>spriteSourceSize</key>
                <string>{136,210}</string>
                <key>textureRect</key>
                <string>{{316,720},{136,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,180}</string>
                <key>spriteSourceSize</key>
                <string>{136,180}</string>
                <key>textureRect</key>
                <string>{{0,180},{136,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_03Blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,210}</string>
                <key>spriteSourceSize</key>
                <string>{136,210}</string>
                <key>textureRect</key>
                <string>{{0,930},{136,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,180}</string>
                <key>spriteSourceSize</key>
                <string>{136,180}</string>
                <key>textureRect</key>
                <string>{{136,180},{136,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_04Blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,210}</string>
                <key>spriteSourceSize</key>
                <string>{136,210}</string>
                <key>textureRect</key>
                <string>{{136,930},{136,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,180}</string>
                <key>spriteSourceSize</key>
                <string>{136,180}</string>
                <key>textureRect</key>
                <string>{{272,180},{136,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_05Blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,210}</string>
                <key>spriteSourceSize</key>
                <string>{136,210}</string>
                <key>textureRect</key>
                <string>{{272,930},{136,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,180}</string>
                <key>spriteSourceSize</key>
                <string>{136,180}</string>
                <key>textureRect</key>
                <string>{{0,360},{136,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_06Blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,210}</string>
                <key>spriteSourceSize</key>
                <string>{136,210}</string>
                <key>textureRect</key>
                <string>{{0,1140},{136,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,180}</string>
                <key>spriteSourceSize</key>
                <string>{136,180}</string>
                <key>textureRect</key>
                <string>{{136,360},{136,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_07Blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,210}</string>
                <key>spriteSourceSize</key>
                <string>{136,210}</string>
                <key>textureRect</key>
                <string>{{136,1140},{136,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,180}</string>
                <key>spriteSourceSize</key>
                <string>{136,180}</string>
                <key>textureRect</key>
                <string>{{272,360},{136,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_08Blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,210}</string>
                <key>spriteSourceSize</key>
                <string>{136,210}</string>
                <key>textureRect</key>
                <string>{{272,1140},{136,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,180}</string>
                <key>spriteSourceSize</key>
                <string>{136,180}</string>
                <key>textureRect</key>
                <string>{{0,540},{136,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_09Blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,210}</string>
                <key>spriteSourceSize</key>
                <string>{136,210}</string>
                <key>textureRect</key>
                <string>{{0,1350},{136,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,180}</string>
                <key>spriteSourceSize</key>
                <string>{136,180}</string>
                <key>textureRect</key>
                <string>{{136,540},{136,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_10Blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,210}</string>
                <key>spriteSourceSize</key>
                <string>{136,210}</string>
                <key>textureRect</key>
                <string>{{136,1350},{136,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,180}</string>
                <key>spriteSourceSize</key>
                <string>{136,180}</string>
                <key>textureRect</key>
                <string>{{272,540},{136,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_11Blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,210}</string>
                <key>spriteSourceSize</key>
                <string>{136,210}</string>
                <key>textureRect</key>
                <string>{{272,1350},{136,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>symbolSheet.png</string>
            <key>size</key>
            <string>{452,1560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:454795757bb332c2b64ab00e5ec571df:3e4b98c18815651e2d2d9ce43caaa1ac:d4309a057143d9828c737b613c9318cd$</string>
            <key>textureFileName</key>
            <string>symbolSheet.png</string>
        </dict>
    </dict>
</plist>
