<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line_picture_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{0,0},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{204,0},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{408,0},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{612,0},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{816,0},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1020,0},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1224,0},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1428,0},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1632,0},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{0,267},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{204,267},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{408,267},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{612,267},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{816,267},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1020,267},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1224,267},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1428,267},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1632,267},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{0,534},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{204,534},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{408,534},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{612,534},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{816,534},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1020,534},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1224,534},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1428,534},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1632,534},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{0,801},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{204,801},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{408,801},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{612,801},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{816,801},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1020,801},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1224,801},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1428,801},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1632,801},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{0,1068},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{204,1068},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{408,1068},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{612,1068},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{816,1068},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1020,1068},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1224,1068},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1428,1068},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_picture_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1632,1068},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>line_picture.png</string>
            <key>size</key>
            <string>{1836,1335}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16f5756ae4ec9a630910505209109cd8:2cc7fe4493bb232d1905ac4db1d6b6a4:3c3d72eea83e9fd6779a173ee8e20a96$</string>
            <key>textureFileName</key>
            <string>line_picture.png</string>
        </dict>
    </dict>
</plist>
