<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line_royal_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{0,0},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{204,0},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{408,0},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{612,0},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{816,0},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1020,0},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1224,0},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1428,0},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1632,0},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{0,267},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{204,267},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{408,267},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{612,267},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{816,267},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1020,267},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1224,267},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1428,267},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1632,267},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{0,534},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{204,534},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{408,534},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{612,534},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{816,534},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1020,534},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1224,534},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1428,534},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1632,534},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{0,801},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{204,801},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{408,801},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{612,801},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{816,801},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1020,801},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1224,801},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1428,801},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1632,801},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{0,1068},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{204,1068},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{408,1068},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{612,1068},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{816,1068},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1020,1068},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1224,1068},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1428,1068},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_royal_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,267}</string>
                <key>spriteSourceSize</key>
                <string>{204,267}</string>
                <key>textureRect</key>
                <string>{{1632,1068},{204,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>line_royal.png</string>
            <key>size</key>
            <string>{1836,1335}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23229b6411ab9b8a5bd45c89501708e0:95477d3bea90f3cf568f99e18c3a9230:cac95e52fdd30442ec0accf422db778d$</string>
            <key>textureFileName</key>
            <string>line_royal.png</string>
        </dict>
    </dict>
</plist>
