[submodule "assets/script/LibCreator"]
	path = assets/script/LibCreator
	url = https://gitlab.com/bu01/frontend/bu01_front-end/llb3.0/libcreator.git
[submodule "assets/prefab/LibPrefab"]
	path = assets/prefab/LibPrefab
	url = https://gitlab.com/bu01/frontend/bu01_front-end/llb3.0/libcreatorprefab.git
[submodule "assets/Jackpot"]
	path = assets/Jackpot
	url = https://gitlab.com/bu01/frontend/bu01_front-end/llb3.0/Jackpot.git
	branch = OldCreatorArch
[submodule "libcreatorprefab"]
	path = libcreatorprefab
	url = https://gitlab.com/bu01/frontend/bu01_front-end/llb3.0/libcreatorprefab.git
